@font-face {
  font-family: 'DorisOrange';
  src: url('../fonts/DorisOrange.woff2') format('woff2'),
    url('../fonts/DorisOrange.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Light theme */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f8f8f8;
    --color: #242424;
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --color: #ffffff;
  }
}

/* Page */
.page {
  height: 100%;
}

/* App */
.app {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  margin: 0;

  background-color: var(--background-color);

  color: var(--color);
}

/* Main */
.main {
  display: grid;
  grid: auto auto auto / 1fr;
  gap: 1rem;

  align-items: center;
  justify-items: center;
}

/* TitleComponent */
.title {
  display: flex;
  align-items: center;

  margin: 0;

  font: 400 1rem/1 'DorisOrange', sans-serif;
}

  .title--h1 {
    font-size: 15vw;
  }

  .title--h2 {
    gap: 0 2rem;
    font-size: 10vw;
  }
  
  .title--h3 {
    gap: 0 1rem;

    font-size: 2vw;
    font-family: 'Arial';
  }

/* TextComponent */
.text {
  margin: 0;

  color: var(--color);
}

  .text--blue {
    color: rgb(71, 105, 255);
  }

  .text--tomato {
    color: rgb(255, 99, 71);
  }

  .text--price {
    color: limegreen;
  }

  .text--email {
    --smooth-corners: 48, 4;

    padding: 0.25rem 0.5rem;

    background-color: yellow;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    
    color: black;
  }
